{% extends 'base.html' %}
{% load channel_helpers %}
{% block content %}

<p><button type="button" class="button float-right radius" data-open="newChannel">Create a new channel</button></p>
  {% include "forumapp/messages.html" %}

{% for listing in channel_list|minus_bans:request.user.get_username %}
  {% include "forumapp/channel_listing.html" %}
{% empty %}
  <p>No channels are available.</p>
{% endfor %}

<div class="reveal" id="newChannel" data-reveal>
	<h3>Create a new channel:</h3>
	<form action="#" method="post">
		{% csrf_token %}
	  	{{ form }}
		<input type="submit" class="success button float-right radius" value="Create Channel" name="create">
	</form>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>

</div>
{% endblock %}
