{% extends 'base.html' %}
{% load channel_helpers %}
{% block content %}

<p><button type="button" class="button float-right radius" data-reveal-id="newChannel">Create a new channel</button></p>

{% for listing in channel_list|minus_bans:request.user.get_username %}
  {% include "forumapp/channel_listing.html" %}
{% empty %}
  <p>No channels are available.</p>
{% endfor %}

<div class="reveal-modal" id="newChannel" data-reveal>
	<!-- <h3>Create a new channel:</h3> --!>
	<form action="#" method="post">
		{% csrf_token %}
	  	{{ form }}
		<input type="submit" class="success button float-right radius" value="Create Channel">
	</form>
  {% include "forumapp/messages.html" %}
	<a class="close-reveal-modal radius" aria-label="Close">&#215;</a>
</div>
{% endblock %}
