{% extends 'base.html' %}
{% load comment_helpers %}
{% load user_helpers %}
{% block content %}

<div class="grid-x">
	{% if view.kwargs|is_moderator:request.user or request.user.is_staff %}
		<div class="clearfix small-11">
	{% else %}
		<div class="clearfix small-12">
	{% endif %}

	<a href="{% url 'forumapp:thread' view.kwargs.channel %}" class="button" name="back">Back to {{ view.kwargs.channel }}</a>
	<button type="button" class="button float-right radius" data-open="newComment">Create a new comment</button>
</div>
{% if view.kwargs|is_moderator:request.user or request.user.is_staff %}
	<div class="small-1">
		<form action="#" method="post">
			{% csrf_token %}
			<input type="submit" class="alert button radius" value="Delete this thread" name="delete_thread">
		</form>
	</div>
{% endif %}
</div>

<a href="{% url 'forumapp:channel' %}">Forum</a> &gt;
<a href="{% url 'forumapp:thread' view.kwargs.channel %}">{{ view.kwargs.channel }}</a> &gt;
<a href="{% url 'forumapp:comment' view.kwargs.channel view.kwargs.thread %}">{{ view.kwargs|get_thread_name }}
</a>&gt; ...<hr>

{% include "forumapp/messages.html" %}


{% if request.user|is_banned_from:view.kwargs.channel %}
    <p>Sorry, this channel is unavailable.</p>
{% else %}
    <h2>{{ view.kwargs|get_thread_name }}</h2>
    <h4>{{ view.kwargs|description }}</h4>
    <ul>
    {% for listing in comment_list|dictsortreversed:'pub_date' %}
      {% include 'forumapp/comment_listing.html' %}
    {% empty %}
        <p>No comments are available.</p>
    {% endfor %}
    </ul>
{% endif %}


<div class="reveal" id="newComment" data-reveal>
	<h3>Create a new comment:</h3>
	<form action="#" method="post">
		{% csrf_token %}
	  	{{ form }}
		<button type="submit" class="success button float-right radius" name="create">Create Comment</button>
	</form>
  {% include "forumapp/messages.html" %}
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endblock %}
