{% load comment_helpers %}
{% load common_helpers %}
{% load tz %}
<div class="callout panel grid-x">
	<div class="cell small-3 medium-2 large-1" align="center">
	  {% include 'forumapp/user_listing.html' %}</br>
	  {{ listing.pub_date|format_date }}
  </div>
	{% if request.user.is_staff or view.kwargs|is_moderator:request.user %}
	<div class="cell small-7 medium-8 large-10"><p>{{ listing.text }}</p></div>
	<div class="cell small-2 medium-2 large-1">
	  <form action="#" method="post">
		{% csrf_token %}
		<input type="hidden" value="{{ listing.comment_id }}" name="comment_id">
		<input type="submit" class="alert button float-right radius" value="Delete" name="delete_comment" style="width:100%;">
	  </form>
	</div>
	{% else %}
	<div class="cell small-11"><p>{{ listing.text }}</p></div>
	{% endif %}
    </div>
