{% load comment_helpers %}
<div class="row">
    <div class="callout panel radius grid-x">
	<div class="cell small-1" align="center">
	  {% include 'forumapp/user_listing.html' %}</br>
	  {{ listing.pub_date|date:"f A" }}
          {% if not listing|is_recent %}
            on {{ listing.pub_date|date:"l, F jS, Y" }}
	  {% endif %}
        </div>
	{% if request.user.is_staff or request.user|is_moderator:listing.thread.channel %}
	<div class="cell small-10"><p>{{ listing.text }}</p></div>
	<div class="cell small-1">
	  <form action="#" method="post">
		{% csrf_token %}
		<input type="hidden" value="{{ listing.comment_id }}" name="comment_id">
		<input type="submit" class="alert button float-right radius" value="Delete" name="delete_comment" style="width:100%;">
	  </form>
	</div>
	{% else %}
	<div class="cell small-11"><p>{{ listing.text }}</p></div>
	{% endif %}
    </div>
</div>
