{% extends 'base.html' %}
{% block content %}
<p><button type="button" class="button float-right" data-open="newThread">Create a new channel</button></p>
{% if thread_list %}
    <ul>
    {% for thread in thread_list %}
        <li><a href="{% url 'forumapp:comment' channel=thread.channel.channel_name thread=thread.thread_id %}">{{ thread.thread_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No threads are available.</p>
{% endif %}
<div class="reveal" id="newThread" data-reveal>
	<h3>Create a new thread:</h3>
	<form action="?" method="post">
		{% csrf_token %}
	  	{{ form }}
		<input type="submit" class="success button float-right" value="Create Thread">
	</form>
	<button type="button" class="close-button" data-close aria-label="Close modal">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endblock %}
