{% extends 'base.html' %}
{% load thread_helpers %}
{% block content %}

<form action="?" method="post">
  {% csrf_token %}
  <input type="submit" class="primary button radius" value="Back to channels" name="back">
  <button type="button" class="button float-left radius" data-open="newThread">Create a new thread</button>
  {% if view.kwargs.channel|isowner:user.get_username or perms.forumapp.delete_channel %}
      <input type="submit" class="alert button float-right radius" value="Delete this channel" name="delete">
  {% endif %}
</form>

{% if thread_list %}
    {% for listing in thread_list %}
        {% include "forumapp/thread_listing.html" %}
    {% endfor %}
{% else %}
    <p>No threads are available.</p>
{% endif %}

<div class="reveal" id="newThread" data-reveal>
	<h3>Create a new thread:</h3>
	<form action="?" method="post">
		{% csrf_token %}
	  	{{ form }}
		<input type="submit" class="success button float-right radius" value="Create Thread" name="create">
	</form>
	<button type="button" class="close-button radius" data-close aria-label="Close modal">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endblock %}
