{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
	<link rel="stylesheet" type="text/css" href="{% static 'foundation/css/foundation.css' %}">
</head>
<body>
<!--
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/forum/">Forum</a></li>
        <li>
          <a href="#">One</a>
          <ul class="menu horizontal">
            <li><a href="/forum/test/">One</a></li>
            <li><a href="/forum/testing">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
      </ul>
    </div>
-->

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <h3><a href="/forum/">Forum</a></h3>
        </li>
        <li>
          <a href="#">Channels</a>
          <!--
          <ul class="menu-vertical">
            <li><a href="/forum/test/">Test</a></li>
            <li><a href="/forum/testing/">Testing</a></li>
          </ul>
        -->
        </li>
        <li><a href="#">Threads</a></li>
        <li><a href="#">Comments</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
	    <li><a href="{%url 'forumapp:settings' %}">Settings</a></li>
	<li>{% if user.is_authenticated %}
		Welcome, {{ user.get_username }} <a href="{% url 'registration:logout' %}">Logout</a>
        {% else %}
		Welcome, guest. <a href="{% url 'registration:login' %}">Login?</a>
	{% endif %}</li>
    </div>
  </div>


  <div class='content container'>
    <div class='row'>
      <div class='col-md-8'>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  {% block foundation_jquery %}
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
  {% endblock foundation_jquery %}

  {% block foundation_js %}
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
  {% endblock foundation_js %}

  {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
  {% endblock foundation_js_init %}


</body>
</html>
