<h1>Welcome to our Forum!<h1>
<h3>Getting Started</h3>
You can head straight to <a href="{% url 'forumapp:channel' %}">/forum</a> to check out the forum app.
Create an account <a href="{% url 'registration:signup' %}">here</a> to be able to make posts.
<h3>Administration</h3>
Admin controls are located at <a href="{% url 'admin:index' %}">/admin</a>. Make sure you have run manage.py createsuperuser.
<h3>Foundation</h3>
Foundation examples are found at <a href="{# url 'foundation:foundation_index' #}">/foundation</a>.
